# Copia este archivo como .env y completa los valores reales
PORT=4000
MONGODB_URI=mongodb+srv://USUARIO:CLAVE@cluster0.r79rn7k.mongodb.net/mapasturisticos?appName=Cluster0
FRONTEND_URL=http://localhost:5173
JWT_SECRET=cambia-este-secreto-por-uno-largo-aleatorio
# Usuario único administrador (login con usuario + contraseña)
ADMIN_USER=admin
ADMIN_PASSWORD_HASH=pega-aqui-el-hash-bcrypt-de-la-clave-admin
